@model PIZZERIA.Models.Producto
@{
    ViewData["Title"] = "Información de la Pizza";
}
<h1><marquee>@ViewData["Title"]</marquee></h1>
    <div class="container">
      <div class="row">
      <div class="col-sm-5">
        <div id="carta" class="card" style="border-radius: 20px; height: 420px;">
          <div class="card-body" style="margin: auto auto;">
            <div class="card-img-actions">
              <img class="img-responsive" width="375" height="375"
                src="/Images/@Html.DisplayFor(model => model.ImageName)"
                alt="@Html.DisplayFor(model => model.ImageName)" style="border-radius: 20px;" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div id="carta" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h1 class="card-title">@Html.DisplayFor(model => model.Name)</h1>
            <h2>Insumos:</h2>
            <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
            <h2>Precio:</h2>
            <p class="card-title">S/. @Html.DisplayFor(model => model.Precio)</p>
            <br>
            <div class="d-grid gap-2">
              <a class="btn btn-primary" asp-action="Add" onclick="agregacion();" asp-route-id="@Model.Id" style="background-color:orange; color:white;"><img src="/Images/carrito1.png" class="img-fluid" alt="" width="20px" heigh="20px">Añadir</a>
            </div><br>
            <div class="d-grid gap-2">
              <a class="btn btn-outline-danger" asp-action="Index">Volver al catálogo</a>
            <div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>