@model PIZZERIA.Models.Producto
@{
    ViewData["Title"] = "Detalles";
}

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="border-radius: 20px; height: 340px;">
            <div class="card-body" style="margin: auto auto;">
              <div class="card-img-actions">
                <img class="img-responsive" width="310" height="310"
                src="/Images/@Html.DisplayFor(model => model.ImageName)"
                alt="@Html.DisplayFor(model => model.ImageName)" style="border-radius: 20px;" />
              </div>
            </div>
          </div><br>
          <div class="card" style="border-radius: 20px; height: 40px;">
                <a class="btn btn-light" asp-action="Index" style="background-color:red; color:white;">Volver al catálogo</a>
          </div> 
        </div>
        <div class="col-sm-4">
         <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h1 class="card-title">@Html.DisplayFor(model => model.Name)</h1>
            <h5>Insumos:</h5>
            <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
            <h5>Precio:</h5>
            <p class="card-title">S/. @Html.DisplayFor(model => model.Precio)</p>
          </div>
        </div>
       </div>
       <div class="col-sm-4">
         <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h1 style="text-align: center;">@ViewData["Title"]</h1>
            <h5>Seleccione:</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">Familiar</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              <label class="form-check-label" for="defaultCheck2">Martes y Jueves(2x1)</label>
            </div>
            <h5>Cantidad:</h5>
            <nav aria-label="Page navigation example">
             <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
             </ul>
            </nav>
            <h5>Nota:</h5>
            <textarea placeholder="Ejm: Corteza Dorada"class="form-control" ></textarea>
            <br>
            <div class="d-grid gap-2">
                    <a class="btn btn-primary" asp-action="Add" asp-route-id="@Model.Id">Añadir</a>
            </div>
          </div>
      </div>
    </div>