@model IEnumerable<PIZZERIA.Models.Producto>

@{
    ViewData["Title"] = "Personaliza tu Producto";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-primary" asp-action="Create">Crear Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Porcentaje
            </th>
            <th>
                Estado
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="100" height="100" src="/Images/@item.ImageName" alt="@item.ImageName"/>
                  </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                S/.@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                    <li><a  class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Ver detalles</a></li>
                    <li><a  class="dropdown-item" asp-action="" asp-route-id="@item.Id" onclick="return confirm('¿Desea eliminar el producto definitavamente?')">Eliminar</a></li>
                </ul>
                </div>     
            </td>
        </tr>
}
    </tbody>
</table>
