@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Mis pedidos";
    IEnumerable<PIZZERIA.Models.Proforma> listItemsCarrito = new List<Proforma>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
    <script src="~/js/site.js" asp-append-version="true"></script>
    Decimal igv = (18*@montoTotal)/100, del = 3, res=(montoTotal-igv),mtF=(@montoTotal+del);
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
        <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
    <table class="table">
        <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                Sub-Total
            </th>
            <th>Detalles</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Proforma item in Model.elementosCarrito) {
        <tr>
            <td>
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="80" height="80"src="/Images/@item.Producto.ImageName" alt="@item.Producto.ImageName"  />
                  </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @(item.Precio * item.Cantidad)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Desea eliminar el ítem del carrito?')">Eliminar</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="border-radius: 20px; height: 256px;">
          <div class="card-body" style="margin: auto auto;">
            <div class="card-img-actions">
                <center><h2>Detalles:</h2>
                <p>Cargo por delivery : </h2>S/ @del</p>
                <p>IGV(18%): </h2>S/ @igv</p>
                <p>Restante: </h2>S/ @res</p>
                <h2>Total S/. @mtF</h2>
                <a class="btn btn-primary" asp-controller="Pago" asp-action="Create" asp-route-monto="@mtF"><img src="/Images/mastercard.png" class="img-fluid" alt="" width="20px" heigh="20px">Pagar</a>
                <a class="btn btn-info" asp-controller="Catalogo" asp-action="Index" style=""><img src="/Images/carrito1.png" class="img-fluid" alt="" width="20px" heigh="20px">Seguir Comprando</a>
            </center>
            </div>
          </div>
        </div>
    </div>
</div>
</div>


